.App {
  border: blue 1px solid;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

header{
  border: 1px purple solid;
  color:rgb(186, 130, 197);
  background-image: url("./img/starsImg.jpeg");
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.nasa-card{
  margin: 0 auto;
  width: 80%;
  border: purple 2px, solid;
  margin:
}
.nasa-card img{
  width: 100%;
  
}

.App-link {
  color: #61dafb;
}
footer{
  border: 1px purple solid;
  background-image: url("./img/starsImg.jpeg");
  color:rgb(186, 130, 197);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
